## Importing the Packages

In [2]:
import numpy as np
import pandas as pd

In [2]:
np.set_printoptions(suppress = True, linewidth = 100, precision = 2)

## Importing the Data

In [5]:
raw_data_np = np.genfromtxt("Absenteeism-data.csv", delimiter = ',', skip_header = 1, autostrip = True)
raw_data_np

array([[11., 26., nan, ...,  2.,  1.,  4.],
       [36.,  0., nan, ...,  1.,  0.,  0.],
       [ 3., 23., nan, ...,  0.,  0.,  2.],
       ...,
       [18., 10., nan, ...,  0.,  0.,  8.],
       [25., 23., nan, ...,  0.,  0.,  2.],
       [15., 28., nan, ...,  1.,  1.,  2.]])

## Checking for Incomplete Data

In [4]:
data_df = pd.read_csv("Absenteeism-data.csv")
data_df

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

## Splitting the Dataset

### Splitting the Columns

In [ ]:
columns_strings = np.argwhere()

### Re-importing the Dataset

### The Names of the Columns

## Creating Checkpoints:

## Manipulating String Columns

### Issue Date

### Loan Status

### Term

### Grade and Subgrade

#### Filling Sub Grade

#### Removing Grade

#### Converting Sub Grade

### Verification Status

### URL

### State Address

https://www2.census.gov/geo/pdfs/maps-data/maps/reference/us_regdiv.pdf

## Converting to Numbers

### Checkpoint 1: Strings

## Manipulating Numeric Columns

### Substitute "Filler" Values

#### ID

#### Temporary Stats

#### Funded Amount

#### Loaned Amount, Interest Rate, Total Payment, Installment

### Currency Change

#### The Exchange Rate

#### From USD to EUR

#### Expanding the header

### Interest Rate

### Checkpoint 2: Numeric

## Creating the "Complete" Dataset

## Sorting the New Dataset

## Storing the New Dataset