<hr style="border:5px solid #108999"> </hr>

# pandas Basics <hr style="border:4.5px solid #108999"> </hr>

## Installing and Running pandas

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

## Introduction to pandas Series

In [ ]:
import pandas as pd

In [ ]:
products = ['A', 'B', 'C', 'D']
products

In [ ]:
type(products)

In [ ]:
product_categories = pd.Series(products)

In [ ]:
product_categories

In [ ]:
type(product_categories)

In [ ]:
type(pd.Series(products))

In [ ]:
daily_rates_dollars = pd.Series([40, 45, 50, 60])
daily_rates_dollars

In [ ]:
print(daily_rates_dollars)

In [ ]:
import numpy as np

In [ ]:
array_a = np.array([10, 20, 30, 40, 50])
array_a

In [ ]:
type(array_a)

In [ ]:
series_a = pd.Series(array_a)
series_a

In [ ]:
print(series_a)

In [ ]:
type(series_a)

## Working with Attributes in Python

In [ ]:
import pandas as pd

In [ ]:
series_a = pd.Series([10, 20, 30, 40, 50])
series_a

In [ ]:
series_a.dtype

In [ ]:
series_a.size

In [ ]:
product_categories = pd.Series(['A', 'B', 'C', 'D'])
product_categories

In [ ]:
product_categories.dtype

In [ ]:
product_categories.size

In [ ]:
type(product_categories.size)

In [ ]:
product_categories.name

In [ ]:
print(product_categories.name)

In [ ]:
product_categories.name = "Product Categories"
product_categories

In [ ]:
product_categories.name

In [ ]:
print(product_categories.name)

## Using an Index in pandas

In [ ]:
import pandas as pd

In [ ]:
prices_per_category = {'Product A': 22250, 'Product B' : 16600, 'Product C':15600}
prices_per_category

In [ ]:
type(prices_per_category)

In [ ]:
prices_per_category = pd.Series(prices_per_category)
prices_per_category

In [ ]:
type(prices_per_category)

In [ ]:
prices_per_category.index

In [ ]:
type(prices_per_category.index)

## Label-based vs Position-based Indexing

In [ ]:
import pandas as pd

In [ ]:
series_a = pd.Series([10, 20, 30, 40, 50])
series_a

In [ ]:
series_a.index

In [ ]:
type(series_a.index)

In [ ]:
list(series_a.index)

In [ ]:
prices_per_category = pd.Series({'Product A': 22250, 'Product B' : 16600, 'Product C':12500})
prices_per_category

In [ ]:
prices_per_category.index

In [ ]:
type(prices_per_category.index)

## More on Working with Indices in Python

In [ ]:
import pandas as pd

In [ ]:
series_a = pd.Series([10, 20, 30, 40, 50])
prices_per_category = pd.Series({'Product A': 22250, 'Product B' : 16600, 'Product C':12500})

In [ ]:
series_a

In [ ]:
series_a[0]

In [ ]:
prices_per_category

In [ ]:
prices_per_category['Product A']

In [ ]:
# prices_per_category[0]
# prices_per_category[1]
prices_per_category[2]

In [ ]:
series_b = pd.Series([10, 20, 30, 40, 50], index = [1, 2, 3, 4, 5])
series_b

In [ ]:
series_b[0]

In [ ]:
series_b[1]

In [ ]:
series_c = pd.Series([10, 20, 30, 40, 50], index = ["1", "2", "3", "4", "5"])
series_c

In [ ]:
series_c[1]

In [ ]:
series_c["1"]

In [ ]:
series_c[0]

In [ ]:
prices_per_category

## Using Methods in Python - Part I

In [ ]:
import pandas as pd

In [ ]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [ ]:
start_date_deposits

In [ ]:
start_date_deposits.sum

In [ ]:
start_date_deposits.sum()

In [ ]:
start_date_deposits.min()

In [ ]:
start_date_deposits.max()

In [ ]:
start_date_deposits.idxmax()

In [ ]:
start_date_deposits.idxmin()

## Using Methods in Python - Part II

In [ ]:
import pandas as pd

In [ ]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [ ]:
start_date_deposits

In [ ]:
start_date_deposits.head()

In [ ]:
start_date_deposits.tail()

## Parameters vs Arguments

In [ ]:
import pandas as pd

In [ ]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [ ]:
start_date_deposits.head()

In [ ]:
start_date_deposits.head(3)

In [ ]:
start_date_deposits.head(10)

In [ ]:
start_date_deposits.head()

In [ ]:
start_date_deposits.head(n=10)

## The pandas Documentation

In [ ]:
import pandas as pd

In [ ]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [ ]:
start_date_deposits.sum()

In [ ]:
start_date_deposits.head()

In [ ]:
start_date_deposits.head(10)

In [ ]:
start_date_deposits.sum()

## Introduction to pandas DataFrames

In [1]:
import pandas as pd

## Creating DataFrames from Scratch

<u>**#1: Construct a DataFrame from a dictionary of lists**</u>

In [ ]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data)
df

In [ ]:
data = {'ProductName':['Product A', 'Product B', 'Product C', 'Product D'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data)
df

<u>**#2: Construct a DataFrame from a dictionary of lists + specify an index**</u>

In [ ]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data, index = ['A', 'B', 'C'])
df

In [ ]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
product_IDs = ['A', 'B', 'C']
df = pd.DataFrame(data, index = product_IDs)
df

<u>**#3: Construct a DataFrame from a list of dictionaries**<u/>

In [2]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [3]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':[12500, 100000]}]
df = pd.DataFrame(data)
df

  ProductName     ProductPrice
0   Product A            22250
1   Product B            16600
2   Product C  [12500, 100000]

In [6]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500},
        {'ProductName':'Product D'}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A       22250.0
1   Product B       16600.0
2   Product C       12500.0
3   Product D           NaN

<u>**#4: Construct a DataFrame from a dictionary of pandas Series**<u/>

In [ ]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'])
ser_prices = pd.Series([22250, 16600, 12500])

In [ ]:
data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

In [ ]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['A', 'B', 'C'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

In [ ]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['C', 'B', 'A'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

<u>**#5: Construct a DataFrame from a list of lists**<u/>

In [ ]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

In [ ]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500, 5000]]
df = pd.DataFrame(data)
df

In [ ]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

In [ ]:
df.columns = ['ProductName', 'ProductPrice']
df

In [ ]:
df.index = ['A', 'B', 'C']
df

<u>**#6: Construct a DataFrame in a Professional Way**<u/>

In [ ]:
df = pd.DataFrame(data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]], 
                  columns = ['ProductName', 'ProductPrice'],
                  index = ['A', 'B', 'C'])
df

In [ ]:
df.shape